body{
    padding: 0;
    margin: 0;
    }
  
    h1 {
      text-align: center;
      padding: 1rem 0;
      margin: 0;
    }
    
    .images-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2rem;
    }
    
    .images-container img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border: 2px solid black;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.319);
        transition: transform ease-in-out 0.2s;
    }
    
    .images-container img:hover {
        transform: scale(1.05);
    }
    
    @media (max-width: 720px) {
    .images-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .images-container img{
        height: 350px;
    }
    }